.navbar-top {
    .nav-link {
        color: #0062E1;
        font-size: 14px;
        font-family: BentonSansMedium;

        .material-symbols-outlined {
            color: #0062E1;
            border-radius: 50%;
            padding: 5px;
            font-size: 20px;
            transition: all 0.2s linear;

            &:hover {
                background: #0062E1;
                color: #fff;
            }

        }

    }

    .user-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

.main-header {
    background: url(../images/header/nav-banner.png) no-repeat center / cover;
    padding: 13px 0;

    .container {
        @media(min-width: 1420px) {
            max-width: 1400px;
        }
    }

    .menu_icons {
        display: flex;
        justify-content: end;
        align-items: center;

        .menu-icons-svg {
            transition: all 0.2s linear;

            &:hover {
                fill: #fff;

                circle {
                    stroke: #fff;
                }

                rect {
                    fill: #0062E1;
                }
            }

        }

        .notifications {
            position: relative;


            &:hover {
                .notification_list {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .notification_list {
                padding: 5px;
                position: absolute;
                top: 0;
                right: 135%;
                background: #0033AA;
                border: 1px solid #0089FF;
                border-radius: 16px;
                width: 240px;
                opacity: 0;
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                visibility: hidden;
                z-index: 999;

                .notofication_head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 7px 12px;

                    h2 {
                        font-family: 'BentonSans', sans-serif;
                        font-weight: 500;
                        font-size: 14px;
                        text-transform: capitalize;
                        color: #FFFFFF;
                    }

                    i {
                        width: 20px;
                        height: 20px;
                        background: #00BFFF;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        text-align: center;
                        line-height: 20px;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }

            .notification_item {
                padding: 10px 0 10px 5px;
                margin: 0 3px;
                background-color: white;
                display: flex;
                justify-content: space-around;
                border: 1px solid #0033AA;

                &.for_dot {
                    position: relative;

                    &::after {
                        position: absolute;
                        top: 50%;
                        right: 3%;
                        width: 7px;
                        height: 7px;
                        background: #BA0000;
                        content: '';
                        border-radius: 50%;
                    }
                }

                .notification_item_left {
                    margin-right: 10px;

                    .notification-number {
                        color: #0033AA;
                    }
                }

                .notification_item_right {
                    h2 {
                        font-family: 'BentonSans', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        color: #0089FF;
                        padding-right: 30px;
                    }

                    p {
                        font-family: 'BentonSans', sans-serif;
                        font-weight: 300;
                        font-size: 11px;
                        color: #4F637C;
                        padding-top: 4px;
                    }
                }
            }


            .notification_footer a {
                text-decoration: none;
                font-family: 'BentonSans', sans-serif;
                font-weight: 400;
                font-size: 11px;
                text-transform: uppercase;
                color: #00BFFF;
                padding: 5px;
            }

        }
    }


    .navbar-collapse.collapse {
        &.show {
            border: none;
        }
    }

    .main_menu {
        .main_nav_btn {
            font-size: 14px !important;
            padding: 13px 10px;
            display: block;
            font-weight: 400;
            text-transform: uppercase;
            transition: all 0.5s;
            border: 1px solid transparent;
            border-radius: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: white !important;
            overflow: hidden;

            &.show {
                border-color: #0089FF;
                background-color: white;
                color: #0089FF !important;

            }

            &:hover {
                color: rgb(204, 204, 204) !important;
            }
        }

        .mega_menu {
            top: calc(100% - 6px);
            width: 680px;
            background: #fff;
            transition: 0.5s;
            border-bottom: 1px solid #014ECF;
            border-right: 1px solid #014ECF;
            border-left: 1px solid #014ECF;
            border-radius: 0 10px 10px 10px;

            @media(max-width: 991px) {
                width: auto;
            }

            .mega_menu_item {
                padding: 30px 5px;
                border-left: 1px dotted black;
                height: 100%;

                h3 {
                    margin-bottom: 15px;
                    white-space: nowrap;
                    font-size: 12px;
                    padding: 10px;
                    background: #014ECF;
                    font-family: 'BentonSans Medium', sans-serif;
                    font-weight: 400 !important;
                    text-transform: uppercase;
                    border-radius: 8px;
                    color: white;
                }

                a {
                    font-size: 12px !important;
                    white-space: nowrap;
                    padding: 10px !important;
                    text-transform: uppercase;
                    color: #0089FF !important;
                    display: block;
                    font-family: 'BentonSans-Medium', sans-serif;

                    &:hover {
                        background: rgba(0, 137, 255, 0.1);
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }




    .noti_shape {
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        opacity: 0;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .notifications:hover .noti_shape {
        opacity: 1;
    }


    .search:focus-within {
        .input-box {
            display: block !important;
        }
    }



    .message a i {
        height: 35px;
        width: 35px;
        border: 1px solid #0089FF;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        text-align: center;
        line-height: 35px;
        color: white;
        font-size: 20px;
    }

    .for_icons_margin {
        margin-left: 33px;
    }

    .wallet {
        padding-left: 150px;

        transition: all 0.2s linear;

        .menu-icons-svg:hover {
            fill: #fff;

            circle {
                stroke: #fff;
            }

            path {
                fill: #0062E1;
            }
        }

    }

    .wallet p {
        color: white;
        font-family: 'BentonSans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
    }



    .nav_bottom {
        padding: 8px 0;
        background-color: white;
    }

    .nav_bottom_left a {
        font-family: 'Benton Sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #0062E1;
        margin-left: 5px;
    }

    .share {
        position: relative;
        display: inline-block;
    }

    .share_icon {
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        opacity: 0;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        visibility: hidden;
    }

    .share:hover .share_icon {
        opacity: 1;
        visibility: visible;
    }

    .share_ol {
        position: absolute;
        width: 235px;
        top: 0;
        right: 148%;
        background: #fff;
        border: 1px solid rgba(0, 137, 255, 0.2);
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        padding: 11px 6px;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .share:hover .share_ol {
        opacity: 1;
        visibility: visible;
    }

    .share_ol_item {
        display: flex;
        align-items: center;
        padding: 6px 2px;
    }

    .share_ol_item:hover {
        background: rgba(0, 137, 255, 0.1);
    }

    .share_ol_item p {
        font-family: 'BentonSans', sans-serif;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #0089FF;
        padding-left: 5px;
    }

    .bookmark {
        margin-left: 18px;
        position: relative;
    }

    .bookmark_ol {
        position: absolute;
        top: 0;
        right: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .bookmark:hover .bookmark_ol {
        opacity: 1;
        visibility: visible;
    }

    /* navbar part end */
    /* banner part start */
    .worldclock_main {
        margin-top: 145px;
    }

    .wc_text {
        width: 124px;
    }

    .wc_text h3 {
        font-family: "BentonSans Medium", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        color: #0A2240;
        padding-top: 5px;
        margin: 28px 0;
        margin-right: 20px;
        width: 124px;
    }

    .wc_slide {
        width: 100%;
        margin-left: 15px;
    }

    .wc_inner {
        width: 9%;
    }

    .wc_img {
        margin-right: 10px;
    }

    .wc_name h4 {
        font-family: "BentonSans Medium", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #4F637C;
    }

    .wc_slide .nxtarw {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        font-size: 40px;
        color: #0062E1;
        cursor: pointer;
    }

    /* banner part css start */

    .banner_img {
        margin-bottom: 45px;
    }

    .banner_img img {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 5px;
        width: 10px;
        height: 10px;
        border: 1px solid #0062E1;
        background-color: transparent;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .slick-dots li button {
        display: none;
    }


    .slick-dots li.slick-active {
        background-color: #0062E1;
    }

    /* banner part css ends */

    /* news part start */

    .news_btns {
        border-top-left-radius: 12px !important;
        border-top-right-radius: 12px !important;
    }

    .news_btns li {
        margin-top: 20px;
        background-color: #F4F5F7;
    }

    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-color: transparent;
        isolation: isolate;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #0062E1 !important;
        background-color: #fff !important;
        border-color: #CED3D9 #CED3D9 #fff;
        font-family: "BentonSans Medium", sans-serif;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    .news_btns li button {
        background-color: #F4F5F7 !important;
        padding: 0;
        margin: 0;
        padding: 14px 20px 18px;
        font-family: "BentonSans Medium", sans-serif;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        position: relative;
    }

    .news_btns li button::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 80%;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        background-color: #0062E1;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        opacity: 0;
    }

    .nav-tabs .nav-link {
        margin-bottom: -1px;
        background: 0 0;
        border: 1px solid transparent;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #fff !important;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .news_btns li button.active::after {
        opacity: 1;
    }


    .show_main {
        background-color: #fff;
    }


    select {
        /*ResetSelect*/
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        border: 0;
        box-shadow: none;
        /*Personalize*/
        flex: 1;
        padding: 0 1em;
        color: #5C6C80;
        background-color: var(--darkgray);
        background-image: none;
        cursor: pointer;
        border: 1px solid #CED3D9;
        padding-left: 46px;
        font-family: 'Benton Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }

    /* Custom Select wrapper */
    .select {
        position: relative;
        display: flex;
        width: 270px;
        height: 36px;
        /* width: 20em;
  height: 3em; */
        border-radius: .25em;
        overflow: hidden;
        margin-left: 20px;
    }

    /* Arrow */
    .select::after {
        content: '\25BC';
        position: absolute;
        bottom: -30%;
        right: 0;
        padding: 1em;
        background-color: #0062E1;
        transition: .25s all ease;
        pointer-events: none;
    }

    /* Transition */
    .select:hover::after {
        color: #fff;
    }


    .show_one {
        padding: 20px;
    }

    .show {
        border: 0.5px solid #CED3D9;
        border-top: none;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }


    .search_btn {
        position: relative;
    }

    .search_btn input {
        width: 360px;
        height: 35px;
        font-family: 'Benton Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #5C6C80;
        padding-left: 39px;
        border: none;
        border: 1px solid #0062E1;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .search_btn i {
        color: #0062E1;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    .showtow_img {
        margin: 20px;
        margin-right: 0;
        position: relative;
    }

    .showtow_img img {
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }



    .show02_text {
        background-color: #E5E7E8;
        color: #0062E1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 11px 20px;

    }

    .show02_text h3 {
        font-family: 'Benton Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        text-transform: uppercase;
    }

    .show02_text p {
        font-family: 'Benton Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #1A314D;
        padding-right: 80px;
        margin-bottom: 6px;
    }


    .swlft_item i {
        font-size: 10px;
        margin-right: 9px;
        color: #E7B78A;
    }

    .swlft_item span {
        font-family: 'BentonSans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #5C6C80;
        margin-right: 17px;
    }

    .show_right span {
        font-family: 'Benton Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #5C6C80;
        margin-right: 2px;
    }

    .show_right span {
        font-family: 'Benton Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #5C6C80;
        margin: 0 10px;
    }

    .swr8_img ul li {
        display: inline-block;
        margin: -6px;
    }

    .allnew_iiner {
        margin-top: 20px;
    }

    .allnew_img {
        position: relative;
    }

    .allnew_over img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    .allnew_over p {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        font-family: 'Benton Sans', sans-serif;
        font-size: 10px;
        line-height: 20px;
    }
}

.navbar-bottom {
    border: 1px solid #D2D7DF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 12px 12px;

    .nav-link {
        color: #0089FF;
        font-size: 12px;
        font-family: BentonSansMedium;
    }

    .menu-icons-svg:hover {
        fill: #0062E1;

        circle {
            stroke: #fff;
            fill: #0062E1;


        }

        g {
            stroke: #fff;
        }
    }

    .bookmark {
        .submenu-box {
            position: absolute;
            right: calc(100% + 8px);
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.2s linear;
            display: none;

            .submenu-box-content {
                padding: 5px 10px;
                background: #FFFFFF;
                border: 1px solid rgba(0, 137, 255, 0.2);
                border-radius: 8px;
                font-size: 12px;
                color: #7C868D;
                position: relative;
                white-space: nowrap;

                .font-medium {
                    font-family: BentonSansMedium;
                }

                &::before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    clip-path: polygon(0 0, 0 100%, 100% 50%);
                    background-color: #0089FF;
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &:hover {
            .submenu-box {
                display: block;
            }
        }
    }

    .dropstart {

        .btn-check:checked+.btn,
        .btn.active,
        .btn.show,
        .btn:first-child:active,
        :not(.btn-check)+.btn:active {
            border-color: transparent;
        }

        .dropdown-menu {
            width: 235px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 137, 255, 0.2);
            border-radius: 16px;

            &::before {
                content: '';
                width: 16px;
                height: 16px;
                clip-path: polygon(0 0, 0 100%, 100% 50%);
                background-color: #0089FF;
                position: absolute;
                left: 100%;
                top: 15px;
            }

            .dropdown-item {
                font-size: 12px;
                color: #0089FF;

                img {
                    padding-right: 5px;
                }

                &:active {
                    color: #fff;
                }
            }
        }
    }
}

// font-size: 14px;
// color: #0062E1;
// font-family: BentonSansMedium;