.mwb {

    // world-clock start
    .world-clock {
        .left-text {
            font-family: BentonSansMedium;
            font-size: 14px;
            color: #0A2240;
            text-transform: uppercase;
            padding-right: 20px;
            margin-bottom: 0;
        }

        .clock-wrapper {
            width: calc(100% - 125px);

            .clockSwiper {
                .text {
                    margin-left: 10px;

                    h6 {
                        font-size: 12px;
                        color: #4F637C;
                        font-family: BentonSansMedium;
                        white-space: nowrap;
                        margin-bottom: -5px;
                    }

                    small {
                        font-size: 12px;
                        color: #4F637C;
                    }
                }
            }
        }

        .world-clock-next,
        .world-clock-prev {
            position: absolute;
            z-index: 1;

            span {
                font-size: 50px;
                color: #0062E1;

                @media (max-width: 767px) {
                    font-size: 30px;
                }
            }
        }

        .world-clock-prev {
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
        }

        .world-clock-next {
            right: -15px;
            left: auto;
            top: 50%;
            transform: translateY(-50%);
        }

        .world-clock-prev.swiper-button-disabled {
            span {
                color: transparent;
            }
        }

    }

    // end of world-clock


    /*############ tab-mwb section start  ############*/
    .tab-mwb {
        .nav-tabs {
            .nav-link {
                font-size: 14px;
                color: #0062E1;
                font-family: BentonSansMedium;
                text-transform: uppercase;
                display: block;
                position: relative;

                &.active::before {
                    content: '';
                    width: 80%;
                    height: 2px;
                    background-color: #204FB0;
                    position: absolute;
                    bottom: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

        }

        .filter {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 100%;
                background-color: #0062E1;
                border-top-right-radius: .375rem;
                border-bottom-right-radius: .375rem;
            }

            .form-select {
                background-image: url(../images/tab/arrow_down_white.png);
                background-size: 16px 10px;
            }
        }


        // latest-news start
        .latest-news-lg {
            .card-title {
                .text {
                    font-size: 16px;
                    color: #0062E1;
                    font-family: BentonSansMedium;
                    text-transform: uppercase;
                }
            }

            .card-text {
                font-size: 14px;
                color: #1A314D;
                padding-right: 40px;
            }

            .card-lg-footer {

                li {
                    font-size: 12px;
                    color: #5C6C80;
                    font-family: BentonSansBook;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    padding-right: 20px;

                    i {
                        font-size: 6px;
                        color: #E7B78A;
                        padding-right: 10px;
                    }
                }

                p {
                    font-size: 12px;
                    color: #5C6C80;
                    font-family: BentonSansBook;
                    margin: 0;
                }

                .user-avatar {
                    img {
                        margin-left: -12px;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
        }

        .news-sm {
            .colored-heading {
                font-size: 12px;
                font-family: BentonSansMedium;
                padding-top: 5px;

                &.green {
                    color: #00AF43;
                }

                &.orange {
                    color: #FF681D;
                }

                &.red {
                    color: #AA0050;
                }
            }

            h5 {
                font-size: 14px;
                color: #0062E1;
                font-family: BentonSansMedium;
                text-transform: uppercase;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            p {
                font-size: 12px;
                color: #3C4B6C;

                @media screen and (max-width: 1199px) {
                    font-size: 10px;
                }
            }
        }

        // end of latest-news


        // ? start
        // end of ?

    }

    /*############//End of tab-mwb section  ############*/



    // my-activity start
    .my-activity {
        margin: 60px 0;

        .activity-card {
            border: 1px solid rgba(#0033AA, 0.1);

            .activity-card-header {
                h4 {
                    font-size: 18px;
                    color: #5C6C80;
                    font-family: BentonSansMedium;
                    margin: 0;
                    margin-left: 15px;
                }

                margin-bottom: 15px;
            }

            .recent-documents {
                li {
                    a {
                        img {
                            vertical-align: baseline;
                        }

                        p {
                            font-size: 14px;
                            margin: 0;
                            color: #35404d;
                            line-height: 1;
                        }

                        small {
                            font-size: 12px;
                            color: #5C6C80;
                        }
                    }
                }
            }

            .recent-site {
                li {
                    border-color: transparent;

                    a {
                        p {
                            font-family: BentonSansMedium;
                            font-size: 14px;
                            margin: 0;
                            color: #35404d;
                            line-height: 1;
                        }
                    }
                }
            }

            .quick-link {
                li {
                    border-color: transparent;

                    a {
                        font-size: 12px;
                        margin: 0;
                        color: #0062E1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 1.35;

                        i {
                            color: #979797;
                            font-size: 8px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .view-all-btn {
                font-size: 12px;
                text-transform: uppercase;

                img {
                    transition: all 0.2s linear;
                    margin-top: -2px;
                }
            }



            .view-all-btn:hover {
                color: #0062E1;

                img {
                    transform: translateX(5px);
                }
            }
        }
    }

    // end of my-activity


    // feed start
    .feed {
        margin-bottom: 80px;

        .feed-card {
            border: 1px solid rgba(#0033AA, 0.1);

            .feed-card-header {
                h4 {
                    font-size: 18px;
                    color: #5C6C80;
                    font-family: BentonSansMedium;
                    margin: 0;
                    margin-left: 15px;
                }
            }

            figure {
                margin: 15px 0 20px 0;
            }

            .view-all-btn {
                font-size: 12px;
                text-transform: uppercase;

                img {
                    transition: all 0.2s linear;
                    margin-top: -2px;
                }
            }



            .view-all-btn:hover {
                color: #0062E1;

                img {
                    transform: translateX(5px);
                }
            }
        }
    }

    // end of feed



    // client-feedback start
    .client-feedback {
        h3 {
            font-size: 30px;
            color: #1A314D;
        }

        h4 {
            color: #5C6C80;
            text-transform: uppercase;
        }

        small {
            color: #1A314D;
        }
    }

    // end of client-feedback

}