.mwb {
    .client-feedback {
        h3 {
            font-size: 30px;
            color: #1A314D;
        }

        h4 {
            color: #5C6C80;
            text-transform: uppercase;
        }

        small {
            color: #1A314D;
        }
    }
}